<section class="home">
  <div class="home__wrap">
    <h1 class="title">Pokemath</h1>
    <p class="subtitle">Haz clic en una Poké Ball para empezar</p>

    <div class="balls">
      <button class="ball" (click)="empezar()">
        <img src="assets/pokeball/pokeball4.png" alt="Poké Ball 1">
      </button>
      <button class="ball" (click)="empezar()">
        <img src="assets/pokeball/pokeball2.png" alt="Poké Ball 2">
      </button>
      <button class="ball" (click)="empezar()">
        <img src="assets/pokeball/pokeball3.png" alt="Poké Ball 3">
      </button>
      <button class="ball" (click)="empezar()">
        <img src="assets/pokeball/pokeball5.png" alt="Poké Ball 3">
      </button>
      <button class="ball" (click)="pokedex()">
      <img src="assets/pokeball/pokedex.png" alt="Pokédex">
    </button>
    </div>
  </div>
 
    
 
</section>
